@import url(http://fonts.googleapis.com/earlyaccess/notosanssc.css);
@import url(https://fonts.googleapis.com/css?family=Lato:400);

body { background-repeat: no-repeat; }

#section1 h1{
  position: relative;
  top: -150px;
  font-size: 4em;
  font-family: Lato, arial;
  color: #F6CECE;
}

#section1 h2{
  position: relative;
  top: -70px;
  font-size: 3em;
  font-family: 'Noto Sans SC',arial;
  color: #FF4000;
}

#section2 h1{
  position: relative;
  top: 130px;
  font-size: 3em;
  font-weight: 900;
  z-index: 2;

  font-family: Hiragino Sans GB, arial;
  color: #FF9900;
}

#section2 h2{
  position: relative;
  top: 130px;
  font-size: 2em;
  font-family: 'Noto Sans SC',arial;
  color: #FFCC33;
  z-index: 2;
}

#section2 h3{
  position: relative;
  top: 130px;
  font-size: 2em;
  font-family: Noto Sans SC, arial;
  color: #FFCC99;
  z-index: 2;

}

#section4 h1{
  font-size: 1.9em;
}

#section3 {
  font-family: Noto Sans SC, arial;
}

#section4 {
  font-family: Apple LiGothic Medium, Hiragino Sans GB, arial;
  font-weight: 900;
  color: #663366;
}

#t1{
  font-size: 2em;
  color: #FFCCCC;
}

#t2{
  font-size: 2.5em;
  color: #993366;
}

#t3{
  font-size: 3em;
  color: #FFCC99;
}

#t4{
  font-size: 1.5em;
  color: #FF99CC;
}

#t5{
  font-size: 3em;
  color: #FFCC99;
}

#t6{
  font-size: 1.5em;
  color: #FF6666;
}

#t7{
  font-size: 3.5em;
  color: #CC99CC;
}

.section{
  background-size: cover;
}

#footer{
  position: fixed;
  height: 50px;
  display: block;
  width: 100%;
  background: #333;
  z-index: 9;
  text-align: center;
  padding: 0px 0 0 0;
  bottom: 0px;
  opacity: 0.2;
}

#header{
  position: fixed;
  height: 50px;
  display: block;
  width: 100%;
  background: #333;
  z-index: 9;
  text-align: center;
  padding: 0px 0 0 0;
  top : 0px;
  opacity: 0.2;
}

.section{
  text-align:center;
}

/*#section1{
  background-image: url(../bg3.jpg);
  background-position: center;
}*/

#section2 {
  content: "";
  background-image: url(../gz01.png);
  background-position: center;
}

#section3{
  content: "";
  background-image: url(../gz02.png);
  background-position: center;
}

#section4 {
  content: "";
  background-image: url(../gz03.png);
  background-position: center;
}

#section5 {
  content: "";
  background-image: url(../gz04.jpeg);
  background-position: center;
}

#section6 {
  content: "";
  background-image: url(../gz05.png);
  background-position: center;
}

#section7 {
  content: "";
  background-image: url(../gz06.png);
  background-position: center;
}

#section8 {
  content: "";
  background-image: url(../gz07.png);
  background-position: center;
}

#section9 {
  content: "";
  background-image: url(../gz08.png);
  background-position: center;
}

#section10 {
  content: "";
  background-image: url(../gz09.jpeg);
  background-position: center;
}

#section11 {
  content: "";
  background-image: url(../gz10.png);
  background-position: center;
}

#section11 h1{
  font-size: 1.5em;
/*  font-weight: 900;
*/  z-index: 2;
  font-family: Hiragino Sans GB, arial;
  position: relative;
  top: 230px;
  left: 70px;
  color: #FFFFFF;
}

#qr {
  z-index: 2;
  position: relative;
  top: -15px;
}

.glyphicon {
    position: relative;
    top: -20px;
    font-size: 50px;
}
